@mixin button-variant($color) {
    background-color: $color;
    color: get-contrast-color($color);

    &:hover {
        background-color: highlight($color);
    }

    &-outline {
        background-color: transparent;
        border: 1px solid $color;
        color: $color;

        &:hover {
            background-color: highlight($color);
            border-color: highlight($color);
            color: get-contrast-color($color);
        }
    }
}