{
    "presets": [ "@babel/env", "@babel/react" ],
    "plugins": [
        "babel-plugin-transform-es2015-shorthand-properties",
        "babel-plugin-transform-object-rest-spread",
        "babel-plugin-transform-class-properties"
    ]
}