@if (null != index($ui-includes, 'calendar.table') and null == index($ui-excludes, 'calendar.table')) {
	.calendar-wrapper {
		display: block;
	    width: 100%;

	    .calendar-navigation-wrapper {
	    	display: block;
	    	margin-bottom: 1em;
	    }
	    .calendar-lower-wrapper {
	    	display: table;
	    	height: 80vh;
	    }
		.calendar-list-wrapper {
			display: table-cell;
			min-width: 250px;
			vertical-align: top;
		}
		.calendar-table-wrapper {
			display: table-cell;
			height: 100%;
			vertical-align: top;
		}
	}

	table.calendar {
	    border-collapse: collapse;
	    border-spacing: 0;
	    box-sizing: border-box;
	    font-family: sans-serif;
	    font-size: 1em;
	    table-layout: fixed;
	    width: 100%;
	    height: 100%;

		th,
		td {
		    border-style: solid;
		    border-width: 1px;
		    padding: 0;
		    vertical-align: top;
		}
		th {
	    	text-align: center;
		}
		
		th,
		td,
		thead,
		tbody {
	    	border-color: #ddd;
	    	position: relative;
		}

		.day-label {
			color: #333;
			font-weight: 100;
			padding: .25em;
			text-align: right;
		}

		.past,
		.outside {
			opacity: .5;
			filter: alpha(opacity=50);
			.label {
				color: #aaa;
			}
		}

		.current {
			background: #fcf8e3;
		}

		.calendar-event,
		.calendar-spacer {
			display: block;
			font-size: .85em;
			font-weight: normal;
			line-height: 1.3;
			margin-bottom: .1em;
			padding: .1em .25em;
			position: relative;
		}

		.calendar-event {
			background-color: #3a87ad;
			margin-left: -1px;
			margin-right: -1px;

			&,
			&:hover {
				color: #fff; /* default TEXT color */
				text-decoration: none; /* if <a> has an href */
			}

			&.start {
				margin-left: 1px;
			}
			&.end {
				margin-right: 1px;
			}
			&[href],
			&.draggable {
				cursor: pointer;
			}

			.not-allowed, /* causes a "warning" cursor. applied on body */
			.not-allowed .event { /* to override an event's custom cursor */
				cursor: not-allowed;
			}

			.calendar-content {
				position: relative;
				z-index: 2;
			}

			.calendar-event-time {
				font-weight: bold;
			}

			.calendar-event-title {
				display: block;
				overflow: visible;
				padding: 0 1px;
				white-space: nowrap;
			}

			&.end .calendar-event-title,
			&.split .calendar-event-title {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.highlight {
			background: #bce8f1;
		}
	}

	.calendar-navigation {
		display: table;
		margin-bottom: 1em;
		text-align: center;
		width: 100%;

		&-left {
			display: table-cell;
			text-align: left;
			width: 25%;
		}

		&-center {
			display: table-cell;
			text-align: center;
			width: 50%;
		}

		&-right {
			display: table-cell;
			text-align: right;
			width: 25%;
		}

		button {
			background: transparent;
			border: 1px solid #ccc;
			display: inline-block;
			font-size: 1em;
		    line-height: 1em;
			padding: 6px 12px;
		}

		.calendar-button-group {
			display: inline-block;

			button {
				+ button {
					border-left-width: 0;
				}
			}

			button:first-child {
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
			}

			button:last-child {
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
			}
		}

		.calendar-icon {
			display: block;
			font-size: 200%;
		    font-weight: bold;
		    text-align: center;
		    overflow: hidden;
		    font-family: "Courier New", Courier, monospace;
		    -webkit-touch-callout: none;
		    -webkit-user-select: none;
		    -khtml-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;

		    &-left-arrow:after {
			    content: "\2039";
		    }

		    &-right-arrow:after {
		        content: "\203A";
		    }
		}
	}
}
