@mixin toggle-variant($color) {
    input[type="checkbox"] {
        &:disabled {
            + label,
            + label .switch {
                color: var(--color-#{$color}-highlight);
            }
        }
        &:focus {
            + label {
                box-shadow: 0 0 2px 2px rgba(var(--color-#{$color}), .5);
                outline: 0;
            }
        }
    }

    label {
        border: 2px solid var(--color-#{$color});
    }

    .switch {
        &-inner {
            background: white;
            border-color: var(--color-#{$color});
        }
        &:before {
            background-color: var(--color-#{$color});
            color: var(--color-#{$color}-contrast);
        }
        &:after {
            background-color: white;
            color: var(--color-#{$color});
        }
    }
}