$card-background-color: white !default;
$card-border-color: #e7eaec !default;

$border: 1px solid darken($card-background-color, 10%); // XXX This will be used in other areas like the bottom of navbars

.card {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    position: relative;

    & > .inner {
    	background-color: $card-background-color;
	    border-radius: $border-radius;
	    position: relative;
	    z-index: 100;
    	@extend .shadow;

	    & > .header,
	    & > .content,
	    & > .footer {
	    	clear: both;
		    color: inherit;
		    position: relative;
	    	@extend .p-a;
		    @extend .m-w-n;
	    }

	    & > .header {
	    	border-bottom: $border;
		    h5 {
			    display: inline-block;
			    font-size: 14px;
			    margin: 0;
			    padding: 0;
			    text-overflow: ellipsis;
			}

		    div[class*="col"] > & {
				@extend .p-w-n;
		    }

		    & + .card-footer {
		    	border-top: none;
		    }
		}

		& > .content {
		    div[class*="col"] > & {
				@extend .p-w-n;
		    }
		}

		& > .footer {
			border-top: $border;
		}
    }

    &.underlaid {
    	display: flex;

    	&.underlay-top {
    		flex-direction: column;
    		align-items: center;

    		.underlay {
    			border-top-left-radius: $border-radius;
    			border-top-right-radius: $border-radius;
    			order: -1;
    		}
    	}

    	&.underlay-bottom {
    		flex-direction: column;
    		align-items: center;

    		.underlay {
    			border-bottom-left-radius: $border-radius;
    			border-bottom-right-radius: $border-radius;
    			order: 1;
    			@extend .shadow;
    		}
    	}

    	&.underlay-left {
    		flex-direction: row;
    		align-items: center;

    		.underlay {
    			border-bottom-left-radius: $border-radius;
    			border-top-left-radius: $border-radius;
    			order: -1;
    			@extend .shadow;
    		}
    	}

    	&.underlay-right {
    		flex-direction: row;
    		align-items: center;

    		.underlay {
    			border-bottom-right-radius: $border-radius;
    			border-top-right-radius: $border-radius;
    			order: 1;
    			@extend .shadow;
    		}
    	}
    }
}
