@if (null != index($ui-includes, 'pagination') and null == index($ui-excludes, 'pagination')) {
	.pagination {
	    border-radius: .285714em;
	    display: inline-block;
	    margin: 0;
	    padding: 0;
	    white-space: nowrap;

	    & > li {
	    	display: inline;

	    	&:first-child {
	    		> a,
	    		> span {
				    margin-left: 0;
	    		}
	    	}

	    	& > a,
	    	& > span {
			    position: relative;
			    background-color: #fff;
			    border: 1px solid #ddd;
			    color: inherit;
			    float: left;
			    line-height: 1;
			    margin-left: -1px;
			    padding: .285714em .714286em;
			    text-decoration: none;
	    	}
		}

		& > .active {
			& > a,
			& > span {
				&,
				&:hover,
				&:focus {
				    background-color: #f4f4f4;
				    border-color: #ddd;
				    color: inherit;
				    cursor: default;
				    z-index: 2;
				}
			}
		}

		& > .disabled {
			a, span {
				&,
				&:focus,
				&:hover {
				    color: #777;
				    cursor: not-allowed;
				    background-color: #fff;
				    border-color: #ddd;
				}
			}
		}

		&-summary {
			clear: both;
			display: block;
			text-align: center;
		}
	}
}