//
// 1. Colors
// 2. Font
// 3. Line sizing
// 4. Borders
// 5. Padding
//

//
// 1. Colors
$brand:   #26a69a !default;
$primary: #337ab7 !default;
$success: #5cb85c !default;
$info:    #5bc0de !default;
$warning: #f0ad4e !default;
$danger:  #d9534f !default;

$colors: () !default;
$colors: map-merge(
 	(
 		"brand":     $brand,
	    "primary":   $primary,
	    "success":   $success,
	    "info":      $info,
	    "warning":   $warning,
	    "danger":    $danger
	),
	$colors
);

//
// 2. Font
$font-size-base: 14px !default;
$font-size-lg:   ceil($font-size-base * 1.25) !default;
$font-size-sm:   ceil($font-size-base * 0.85) !default;

//
// 3. Line sizing
$line-height-base:     1.428571429 !default;
$line-height-computed: floor($font-size-base * $line-height-base);
$line-height-lg:       1.3333333 !default;
$line-height-sm:       1.5 !default;

//
// 4. Borders
$border-radius-base: 4px !default;
$border-radius-lg:   6px !default;
$border-radius-sm:   3px !default;

//
// 5. Padding
$padding-base-vertical:   5px;
$padding-base-horizontal: 8px;
$padding-xs-vertical:     1px !default;
$padding-xs-horizontal:   5px !default;
$padding-sm-vertical:     $padding-base-vertical / 1.5 !default;
$padding-sm-horizontal:   $padding-base-horizontal / 1.5 !default;
$padding-lg-vertical:     $padding-base-vertical * 1.5 !default;
$padding-lg-horizontal:   $padding-base-horizontal * 1.5 !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  200 !default;
$yiq-text-dark:             #111 !default;
$yiq-text-light:            white !default;


$focus-shadow-width:           .2rem !default;