//
// Color definitions
//
$brand-colors: (
    default: #F9ECCC, // Blanched Almond
    primary: #754668, // Twilight Lavender
    secondary: #587D71, // Hooker's Green
    tertiary: #B5DDA4 // Light Moss Green
) !default;

$action-colors: (
    success: #4DAA57, // Middle Green
    info: #5bc0de,
    warning: #f0ad4e,
    error: #d9534f
) !default;

$colors: map-merge($brand-colors, $action-colors) !default;

$color-white: #fff !default;
$color-divider: #ccc !default;
$color-muted: #666 !default;

//
// Border radius
//
$border-radius: 4px !default;

//
// Define CSS variables
//
html {
    @each $name, $color in $colors {
        --color-#{$name}: #{$color};
        --color-#{$name}-highlight: #{scale-color($color, $saturation: 30%)};
        --color-#{$name}-contrast: #{get-contrast-color($color)};
    }

    @each $name, $color in $brand-colors {
        @for $i from 1 to 10 {
            --color-#{$name}-#{$i * 10}: #{scale-color($color, $lightness: 100 - (10% * $i))};
            --color-#{$name}-#{$i * 10}-contrast: #{get-contrast-color(scale-color($color, $lightness: 100 - (10% * $i)))};
        }
    }
}