$brand-colors: (
	default: #2A2D34, // Gunmetal
	primary: #009DDC, // Vivid Cerulean
	secondary: #6761A8, // Dark Blue-Gray
	tertiary: #009B72, // Green (NCS)
) !default;

$header-background: map-get($brand-colors, 'primary');

@import 'default';