@mixin button-variant($color, $highlight, $text) {
    background-color: $color;
    color: text;

    &:hover {
        background-color: $highlight;
    }

    &-outline {
        background-color: transparent;
        border: 1px solid $color;
        color: $color;

        &:hover {
            background-color: $highlight;
            border-color: $highlight;
            color: $text;
        }
    }
}

@if (null != index($ui-includes, 'form.button') and null == index($ui-excludes, 'form.button')) {
    $button-colors: $theme !default;

    .btn {
        background-color: transparent;
        border: none;
        border-radius: 2px;
        color: $color-white;
        cursor: pointer;
        display: inline-block;
        font-size: 1rem;
        height: 36px;
        letter-spacing: .5px;
        line-height: 36px;
        outline: 0;
        padding: 0 2rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: .2s ease-out;
        vertical-align: middle;
        -webkit-tap-highlight-color: transparent;

        &:hover {
            background-color: transparent;
            text-decoration: none;
        }

        &:not(.btn-flat) {
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

            &:hover {
                box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
            }
        }

    }

    .btn-small {
        font-size: .85rem;
        height: 30px;
        line-height: 30px;
        padding: 0 1rem;
    }

    .btn-large {
        height: 54px;
        line-height: 54px;
    }

    @each $name, $attributes in $button-colors {
        .btn-#{$name} {
            @include button-variant(map-get($attributes, 'color'), map-get($attributes, 'highlight'), map-get($attributes, 'text'));
        }
    }
}