@import '_mixins/button-variant';

$control-hitbox-size: 40px;
$control-visual-size-min: 20px;
$control-visual-size-max: 60px;
$control-font-size-min: .75rem;
$control-font-size-max: 1.25rem;
$control-sizes: (
    'xsmall',
    'small',
    'medium',
    'large',
    'xlarge'
);

$control-visual-size-increment: ($control-visual-size-max - $control-visual-size-min) / length($control-sizes);
$control-font-size-increment: ($control-font-size-max - $control-font-size-min) / length($control-sizes);

.btn {
    background-color: map-get($colors, 'default');
    border: none;
    color: get-contrast-color(map-get($colors, 'default'));
    cursor: pointer;
    display: inline-block;
    font-size: ($control-font-size-min + $control-font-size-max) / 2;
    height: ($control-visual-size-min + $control-visual-size-max) / 2;
    line-height: ($control-visual-size-min + $control-visual-size-max) / 2;
    outline: 0;
    padding: 0 2rem;
    text-align: center;
    text-decoration: none;
    transition: .2s ease-out;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        background-color: highlight(map-get($colors, 'default'));
        text-decoration: none;
    }

    &.square {
        border-radius: none;
    }
    &.rounded {
        border-radius: $border-radius;
    }
    &.circle {
        border-radius: 50%;
        width: 100%;
    }
}

@each $name, $color in $colors {
    .btn.#{$name} {
        @include button-variant($color);
    }
}

@for $i from 1 through length($control-sizes) {
    $size: nth($control-sizes, $i);
    @debug "size: #{$size}";
    @debug "i: #{$i}";

    .btn.#{$size} {
        font-size: $control-font-size-min + $control-font-size-increment * ($i - 1);
        height: $control-visual-size-min + $control-visual-size-increment * ($i - 1);
        line-height: $control-visual-size-min + $control-visual-size-increment * ($i - 1);
    }
}