@mixin toggle-size($toggle-width: 52px, $switch-width: 20px, $height: 20px) {
    width: $toggle-width;

    label {
        height: $height;
    }

    .switch {
        right: ($toggle-width - $switch-width) + 2;
        width: $toggle-width * 2;

        &-inner,
        &:before,
        &:after {
            height: $height;
            line-height: $height;
        }

        &-inner {
            width: $switch-width;
        }

        &:before,
        &:after {
            width: $toggle-width - $switch-width
        }
    }

    &-oval {
        .switch {
            right: ($toggle-width - ($switch-width / 2)) + 2;
            width: $toggle-width * 2;

            &-inner,
            &:before,
            &:after {
                height: $height;
                line-height: $height;
            }

            &-inner {
                left: $toggle-width - ($switch-width / 2);
                position: absolute;
                width: $switch-width;
            }

            &:before,
            &:after {
                width: $toggle-width;
            }
        }

        input[type="checkbox"]:checked + label .switch {
            right: ($switch-width / 2) + 2 !important;
        }
    }
}