.autocomplete {
    position: relative;

    &.open &-list{
        display: block;
    }

    &-list {
        display: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        z-index: 1000;

        li {
            background: white;
            color: map-get($colors, 'primary');
            cursor: pointer;
            display: block;
            list-style-type: none;
            margin: 0;
            padding: .5em 1em;
            transition: background .2s, color .2s;

            &.highlight {
                background: map-get($colors, 'primary');
                color: white;
            }
        }
    }
}